<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Get In Touch</h2>
        <p class="subtitle--light" style="display: none">
          Prefer using email? Say hi at
          <a
            href="#"
            data-email-user='{{ site.data.settings.contact_settings.email_address | split: "@" | first }}'
            data-email-domain='{{ site.data.settings.contact_settings.email_address | split: "@" | last }}'
            >-</a
          >
        </p>
      </header>
      <form
        id="contact-form"
        method="POST"
        action="{{ site.data.settings.contact_settings.form_action }}"
        class="contact__form"
      >
        <div class="g-recaptcha" data-sitekey="{{ site.data.settings.contact_settings.recaptcha_site_key }}"></div>

        <div class="input-group">
          <label for="name">Your Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="What should I call you?"
          />
        </div>

        <div class="input-group">
          <label for="email">Your Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="What's your email address?"
            required="required"
          />
        </div>

        <div class="input-group">
          <label for="message">Your Message</label>
          <textarea
          id="message"
            name="message"
            placeholder="How can I help you?"
            rows="4"
          ></textarea>
        </div>

        <div class="input-group gotcha">
          <label for="address">Your Address</label>
          <input
            type="text"
            id="address"
            name="address"
            class="contact-form__gotcha"
            val=""
          />
        </div>

        {% comment %}
        <div class="input-submit">
          <input
            type="submit"
            class="button--fill"
            value="{{ site.data.settings.contact_settings.send_button_text }}"
          />
        </div>
        {% endcomment %}
      </form>
    </div>
  </div>
</section>
