<section class="about">
  {% if include.divider == true %}
  <div class="wrap"><hr /></div>
  {% endif %}
  <div class="wrap grid">
    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="" />

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hi, I’m David. Nice to meet you!</h2>
      <p class="subtitle subtitle--light">
        I’ve been a web developer and solutions architect for over 17 years of
        experiences.
      </p>

      <p>
        I firmly believe in finding simpliest tool for the job, and not over
        complicating. My primary skill set is ASP.NET and JavaScript
        development, but I've oodles of experience in other technologies such as
        CMS, e-commerce, cloud hosting (AWS & Azure), SQL and No-SQL databases,
        and of course much more.
      </p>
      <p>
        It would be great to understand if there is a way that I can help you
        with your current challenge.
      </p>

      <a href="#" class="cta button--fill contact-trigger js-contact"
        >Get in Touch</a
      >
    </div>
  </div>
</section>
