<section class="about">
  {% if include.divider == true %}
  <div class="wrap"><hr /></div>
  {% endif %}
  <div class="wrap grid">
    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="" />

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hi, I’m David.<br />Nice to meet you!</h2>
      <p class="subtitle subtitle--light">
        I’ve been a professional web developer for {{ 'now' | date: "%Y" |
        minus: 2002 }} years, and I'm passionate about great design, great code,
        and modern techniques
      </p>

      <p>
        I firmly believe in finding simpliest tool for the job, and not over
        complicating. My primary skill sets are solution design, and ASP.NET and
        JavaScript development, but I've got a truck load of experience in other
        technologies such as CMS, e-commerce, cloud hosting (AWS & Azure), SQL
        and No-SQL databases, and of course much more.
      </p>

      <a href="#" class="cta button--fill contact-trigger js-contact">
        Get in Touch
      </a>
    </div>
  </div>
</section>
